@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: 'Poppins', sans-serif;
}
.container {
    max-width: 1200px;
    margin: 0 auto;

}

.header {
    background-image: url(cafeteria.jpg);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px 0;

}

.menu {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    color: #47BA34;
    font-size: 25px;
    font-weight: 800;
    /*por el google font*/
}

.menu .navbar ul li {
    position: relative;
    float: left;
}

.menu .navbar ul li a {
    font-size: 18px;
    padding: 20px;
    color: #e99254;
    display: block;
    font-weight: 600;
}

.menu .navbar ul li a:hover {
    color: #47BA34;
    transition: all .3s;
    /*para cuando pasa el cursor*/
}

#menu {
    display: none;
}

.menu-icono {
    width: 25px;
}

.menu label {
    cursor: pointer;
    display: none;
}

.menu>li {
    position: relative;
    display: inline-block;
}

.menu>li>a {
    display: block;
    padding: 15px 20px;
    color: #323337;
    text-decoration: none;
}

.menu li a:hover {
    color: #414247;
    transition: all .3s;
}

.submenunav {
    position: absolute;
    background: #323337;
    width: 120%;
    visibility: hidden;
    opacity: 0;
    transition: opacity 1.5s;
}

.submenunav li a {
    display: block;
    padding: 15px;
    color: #fff;
    text-decoration: none;
}

.menu li:hover .submenunav {
    visibility: visible;
    opacity: 1;
}


.btn-1 {
    display: inline-block;
    padding: 11px 35px;
    background-color: #e99254;
    color: #F9FAFC;
    text-transform: uppercase;
    margin-bottom: 25px;

}

.btn-1:hover {
    background-color: #b97545;
}
.header-content .container {
    text-align: center;
    align-items: center;
    justify-content: center;
}

.header-content h1 {
    font-size: 60px;
    color: #ffffff;
    text-transform: uppercase;
   
    text-align: left;
}
.header-content h2 {
    border-top: 4px solid #e99254;
    width: 8%;
    
}
.header-content p {
    font-size: 25px;
    color: #fff;
    text-align: left;
}

.btn-left,
.btn-right {
    display: flex;
    position: absolute;
    top: 50%;
    font-size: 3rem;
    background-color: transparent;
    border-radius: 50%;
    padding: 5px;
    font-weight: 600;
    cursor: pointer;
    color: #4AB23A;
    transform: translate(0, -50%);
    transition: .5s ease;
    user-select: none;
}

.btn-left:hover,
.btn-right:hover {
    background-color: #333333d4;
    color: #fff;
}

.btn-left {
    left: 10px;
}

.btn-right {
    right: 10px;
}

/*art*/
.art {
    display: flex;
    
}

.art-1 {
    width: 50%;
    padding:150px 50px 0px 50px;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    
}
.art-1 h2 {
    border-top: 4px solid #e99254;
    width: 20%;
    margin-top: 15px;
    margin-bottom: 25px;
}
.art-1 h1 {
   font-size: 40px;
   margin-top: 100px;
}
.art-1 p {
    font-size: 20px;
 }
.container-carousel {
    position: relative;
    width: 100%;
    height: 600px;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.66);
    border-radius: 15px;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    margin: 0px 0px 150px 25px;

}

.carruseles {
    width: 300%;
    height: 100%;
    display: flex;

}

.slider-section {
    width: calc(100% / 3);
    height: 100%;
}

.slider-section img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px
}

/*general*/
.general {
    display: flex;
}

.general-1 {
    width: 50%;
    padding: 50px 250px 50px 100px;
    background-color: #E1E2E6;
}

.general-2 {
    background-image: url(cafe1.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
}

.general-3 {
    background-image: url(cafe2.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
}
.general-1 p {
    font-size: 20px;
    margin-bottom: 20px;
 }
.general-1 h2 {
   font-size: 40px;
   text-transform: uppercase;
}
.general-1 h3 {
    border-top: 4px solid #e99254;
    width: 20%;
    margin-top: 15px;
    margin-bottom: 25px;
}
/*Formulario*/
.footer {
    padding: 100px 0;
    background-color: #000000;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-content {
    width: 100%;
    max-width: 600px;
    background-color: #000000;
    padding: 50px 60px 70px;
    text-align: center;
    border-radius: 25px;
}
.formContainer {
    max-width: 90%;
    margin: auto;
    
}

:root {
    --cfondo: rgb(207, 211, 212);
    --cfondoForm1: rgba(1, 80, 88, 0.39);
    --cfondoForm2: rgb(43, 33, 14);
    --cnegro: black;
    --ctexto: rgb(255, 255, 255);
    --cblanco: white;
    --ctextoDark: rgb(2, 21, 23);
    --error: rgba(184, 31, 31);
}

.form {
    border-top: 2px solid black;
    max-width: 400px;
    padding: 30px 50px;
    margin: auto;
    margin-top: 10px;
    background: linear-gradient(0deg,
            var(--cfondoForm1) 0%,
            var(--cfondoForm2) 50%);
}

.form-title {
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    margin: 0;
    margin-bottom: 20px;
    letter-spacing: 3px;
}

.formContainer h2 {
    font-weight: bold;
    font-size: 50px;
    text-transform: uppercase;
    text-align: center;
    margin: 0;
    margin-bottom: 20px;
    color: #47BA34;

}
.formContainer p {
    font-weight: bold;
    font-size: 50px;
    text-transform: uppercase;
    text-align: center;
    margin: 0;
    color: #ffffff;
}

.form-input {
    margin-bottom: 30px;
}

.form-input label {
    display: block;
    margin-top: 10px;
    font-size: 15px;
    color: var(--ctexto);
}

.form-input input {
    width: 100%;
    border: none;
    outline: none;
    background: none;
    border-bottom: 1px solid var(--ctexto);
}

.form-termsAndConditions {
    margin-left: 15px;
    position: relative;
    color: var(--ctexto);
    font-size: 13px;

}

.form-termsAndConditions a {
    font-weight: bold;
}

.form-input input:focus+label {
    font-weight: bold;
    color: var(--cnegro);
}

.form-buttom button {
    background: var(--cnegro);
    color: var(--cblanco);
    padding: 10px 30px;
    font-size: 15px;
    display: block;
    margin: auto;
    margin-top: 40px;
    border: none;
}

.form-buttom button:hover {
    background: var(--ctextoDark);
    transition: 0.5s;
}

.mensajeError {
    color: var(--error);
    margin-top: 0px;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1px;
}

.mensajeCorrecto {
    background-color: #000000;
    margin-top: 30px;
    margin-bottom: 10px;
    text-align: left;
    border-radius: 10px;
    border: solid #fff 2px;
    padding: 15px;
}

#miDiv {
    display: none;
}

.mensajeCorrecto p {
    color: #E1E2E6;
}

.mensajeCorrecto h3 {
    color: #E1E2E6;
    text-align: center;
}
@media(max-width:991px){
    .menu {
        padding: 30px;
    }
    .menu label {
        display: initial;
    }
    .menu .navbar {
        position: absolute;
        top: 100px;
        left: 0;
        right: 0;
        background-color: #323337;
        display: none;
    }
    .menu .navbar ul li {
        width: 100%;
    }
    #menu:checked ~ .navbar{
        display: initial;
    }
    .header {
        min-height: 0vh;
    }
    .header-content {
        padding: 100px 30px;
    }
    .header-content p {
        padding: 0;
    }
    .house {
        padding: 30px;
    }
    .house-content h2 {
        padding: 0;
    }
    .txt-p {
        padding: 0;
    }
    .general{
        flex-direction: column;
    }
    .general-1{
        width: 100%;
        padding: 30px;
        text-align: center;
    }
    .general-2, .general-3 {
        display: none;
    }
    .footer {
        padding: 30px;
    }
    .footer-content {
        flex-direction: column;
        text-align: center;
    }
}